:root{
    --dark-blue: #0a3871;
    --main-color:#f3f5fc;
    --ligth-blue:#d8dfe8;
    --inter-font: "Inter", sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    background-color: var(--main-color);
    font-family:var(--inter-font);
}
header{
    margin-bottom: 5rem;
    width: 60%;
}

main{
    display:flex;
    justify-content: space-around;
}
header img{
    width: 120px;
    height: 48px;
}

.form__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
}
.form__input{
    width: 100%;
    max-width: 577px;
    height: 64dvh;
    border-color: transparent;
    background: transparent;
    outline: none;
    font-family:var(--inter-font);
    font-size: 3.2rem;
    color: var(--dark-blue);
    margin-bottom: 3rem;
    overflow: auto;
}

::placeholder{
    color: var(--dark-blue);
}
.alert__msj{
    display:flex;
    align-items:center;
    gap: .7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.submit__container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.form__btn{
    background: var(--dark-blue);
    color:white;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}
.form__btn--secundary{
    background: transparent;
    color: var(--dark-blue)
}

.result{
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 92dvh;
    border-radius: 32px;
    max-width: 40rem;
    width: 100%;
}
.result__img{
    display: block;
}
.hidden{
    display:none;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .submit__container {
        justify-content: center;
    }
    .result{
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
        min-height: 186px;
    }
    .result__img{
        display: none;
    }
    header img {
        width: 74px;
    }
}


/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 17px;
    font-family: monospace;
    line-height: 1.4;
    font-weight: bold;
    --c: no-repeat linear-gradient(#000 0 0); 
    background: var(--c),var(--c),var(--c),var(--c),var(--c),var(--c),var(--c);
    background-size: calc(1ch + 1px) 100%;
    border-bottom: 10px solid #0000; 
    position: relative;
    animation: l8-0 3s infinite linear;
    clip-path: inset(-20px 0);
  }
  .loader::before {
    content:"Loading";
  }
  .loader::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    background: #25adda;
    left: -10px;
    bottom: 100%;
    animation: l8-1 3s infinite linear;
  }
  @keyframes l8-0{
     0%,
     12.5% {background-position: calc(0*100%/6) 0   ,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     25%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6)    0,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     37.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6)    0,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     50%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6)    0,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     62.5% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6)    0,calc(5*100%/6)    0,calc(6*100%/6) 0}
     75%   {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6)    0,calc(6*100%/6) 0}
     87.4% {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 0}
     100%  {background-position: calc(0*100%/6) 40px,calc(1*100%/6) 40px,calc(2*100%/6) 40px,calc(3*100%/6) 40px,calc(4*100%/6) 40px,calc(5*100%/6) 40px,calc(6*100%/6) 40px}
  }
  @keyframes l8-1{
    100% {left:115%}
  }